@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
<!DOCTYPE html>
<html lang="@ViewData["Language"]" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="icon" href="~/images/app-fav-icon.webp" type="image/webp" />
	<link rel="shortcut icon" href="~/images/app-fav-icon.webp" type="image/webp">
	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,700italic|Montserrat:200,300,400,400i,600,600i,700,700i" rel="stylesheet" type="text/css" />
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/fragments.css" asp-append-version="true" />
	@await RenderSectionAsync("Css", required: false)
</head>

<body class="d-flex flex-column h-100" data-mdb-theme="@ViewData["Theme"]">
	<header>
		<nav class="navbar navbar-expand-lg border-bottom box-shadow top-site-header">
			<div class="container">

				<a id="logo" href="@ViewData["HomePage"]">
					<div class="logo-title">@SharedLocalizer["App_Title"]</div>
					<div class="logo-slogan">@SharedLocalizer["App_Slogan"]</div>
				</a>

				<button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-toggle="collapse" data-mdb-target="#navbar-main-menu" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar-main-menu">
					@await RenderSectionAsync("MainMenu", required: false)
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="pb-3 flex-shrink-0">
		@RenderBody()
	</main>

	<footer class="border-top footer text-muted mt-auto py-3">
		@await RenderSectionAsync("Footer", required: false)
	</footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.umd.min.js" async></script>
	<script src="~/js/site.js" asp-append-version="true" async></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>