@model ViewModels.MainMenu

<ul class="navbar-nav ms-auto my-3 my-lg-0">
	@foreach (var menu in Model.Commands)
	{
		if (menu.Inactive)
		{
			<li class="nav-item nav-link top-site-header-menuitem">@menu.Label</li>
		}
		else if (menu.Submenu != null)
		{
			<li class="nav-item dropdown top-site-header-menuitem">
				<a class="nav-link dropdown-toggle" data-mdb-dropdown-init data-mdb-ripple-init href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">@menu.Label</a>
				<ul class="dropdown-menu dropdown-menu-end">
					@foreach (var sm in menu.Submenu)
					{
						if (sm.Inactive)
						{
							<li class="dropdown-item">@sm.Label</li>
						}
						else
						{
							<li><a class="dropdown-item" href="@sm.Link">@sm.Label</a></li>
						}
					}
				</ul>
			</li>
		}
		else
		{
			<li class="nav-item top-site-header-menuitem"><a class="nav-link" href="@menu.Link">@menu.Label</a></li>
		}
	}
</ul>