@model HCms.Content.ViewModels.Fragment

@{
	string id = Model.DomId;
	string title = Model.Props.title;
	var items = Model.Props.item;
	int n = items.Length;
	int m = Model.Children != null ? Model.Children.Length : 0;

	if (m > n)
		m = n;
	else if (m < n)
		n = m;

	bool alwaysOpen = Model.Props.appearance.always_open;
	string look = Model.Props.appearance.look;
	string cls;

	switch (look)
	{
		case "minimalistic":
			cls = "accordion-flush";
			break;
		case "alternative":
			cls = "accordion-borderless";
			break;
		default:
			cls = null;
			break;
	}

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}

<div id="@id" class="@Model.BasicCssClass @extraFragmentClass">
@if (n != 0 && !string.IsNullOrEmpty(title))
{
	<h2>@title</h2>
}
	<div class="accordion @cls mt-4">
		@for(int i = 0; i < n; i++)
		{
			<div class="accordion-item">
				<h3 id="@id-heading-@i" class="accordion-header">
					<button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-target="#@id-body-@i">
						@if (!string.IsNullOrEmpty(items[i].icon))
						{
							<i class="fas @(items[i].icon) fa-sm me-2 opacity-70"></i>
						}
						@items[i].title
					</button>
				</h3>
				<div id="@id-body-@i" class="accordion-collapse collapse @(items[i].opened ? "show" : null)" data-mdb-parent="@(alwaysOpen ? null : "#" + id)">
					<div class="accordion-body">
						@{
							@await Html.PartialAsync(Model.Children[i].XmlName, Model.Children[i], ViewData)
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>