@model HCms.Content.ViewModels.Fragment

@{
	string id = Model.DomId;
	string title = Model.Props.title;
	bool uncollapsed = Model.Props.uncollapsed;
	string look = Model.Props.look;

	string cls = look switch
	{
		"default" => "btn btn-lg",
		"primary" => "btn btn-primary btn-lg",
		"secondary" => "btn btn-secondary btn-lg",
		"tertiary" => "btn btn-outline-secondary btn-lg",
		_ => "btn btn-link btn-lg"
	};

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
	string collapseCls = uncollapsed ? "show" : null;
	string chevronCls = uncollapsed ? "fa-chevron-up" : "fa-chevron-down";
	string action = "collapse_" + id;
}

<button id="@id" class="@Model.BasicCssClass @cls @extraFragmentClass mb-4" type="button"
		data-mdb-collapse-init data-mdb-ripple-init data-mdb-target="#@action"
		onclick="document.getElementById('@(id + "_chevron")').className=document.getElementById('@id').getAttribute('aria-expanded')=='true' ? 'fa-solid fa-fw fa-chevron-up' : 'fa-solid fa-fw fa-chevron-down'">
	@title <i id="@(id + "_chevron")" class="fa-solid fa-fw @chevronCls"></i>
</button>

<div id="@action" class="collapse @collapseCls">
	@if (Model.Children != null)
	{
		foreach (var f in Model.Children)
		{
			@await Html.PartialAsync(f.XmlName, f, ViewData)
		}
	}
</div>