@using Microsoft.AspNetCore.Mvc.Localization
@using DemoSite.ViewModels
@using HCms.Content.ViewModels
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Fragment

@{
	string id = Model.DomId;
	string title = Model.Props.title;
	string look = Model.Props.look;
	string moreLabel = Model.Attributes?.GetValueOrDefault("MoreButtonLabel");

	if (string.IsNullOrEmpty(moreLabel))
		moreLabel = SharedLocalizer["More"].Value;

	Document modelDoc = ViewData["Document"] as Document;
	Document[] docs = modelDoc?.Children ?? Array.Empty<Document>();
	int n = docs.Length;

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}

<div id="@id" class="directory-@look @Model.BasicCssClass @extraFragmentClass">

@if (n != 0 && !string.IsNullOrEmpty(title))
{
	<h3>@title</h3>
}

@if (look == "default")
{
	<ul class="list-group list-group-light">
		@foreach (var doc in docs)
		{
		<li class="list-group-item"><a href="@doc.Url">@doc.Title</a></li>
		}
	</ul>
}
else if (look == "expandable")
{
	<div class="accordion accordion-flush">
		@for (int i = 0; i < n; i++)
		{
			<div class="accordion-item">
				<h2 id="@id-heading-@i" class="accordion-header">
					<button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-target="#@id-body-@i">
						@docs[i].Title
					</button>
				</h2>
				<div id="@id-body-@i" class="accordion-collapse collapse">
					<div class="accordion-body">
						<div class="directory-summary">
							@Html.Raw(docs[i].Summary)
						</div>
						<div class="directory-open-doc">
							<a class="btn btn-primary" href="@docs[i].Url">@moreLabel</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}
else if (look == "grid" || look == "blog")
{
	<div class="container g-0">
		<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
			@foreach (var doc in docs)
			{
				<div class="col">
					<div class="card h-100">
						@if (!string.IsNullOrEmpty(doc.CoverPicture))
						{
							<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
								<img src="@doc.CoverPicture" class="img-fluid" alt="@doc.Title" />
								<a href="@doc.Url" alt="@doc.Title">
									<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
								</a>
							</div>
						}
						<div class="card-body">
							<h3 class="card-title>">@doc.Title</h3>
							<div class="card-text">@Html.Raw(doc.Summary)</div>
						</div>
						@if (look == "blog")
						{
						<div class="mx-4 mb-4">
							<a class="btn btn-primary stretched-link" href="@doc.Url" alt="@doc.Title">@moreLabel</a>
						</div>
						}
						else
						{
						<a class="stretched-link" href="@doc.Url" alt="@doc.Title"></a>
						}
					</div>
				</div>
			}
		</div>
	</div>
}

@if (modelDoc != null) 
{
	int visibleLinks = Model.Props.visible_links;
	var pagination = modelDoc.BasicPagination<PaginationLink>(visibleLinks);

	if (pagination.Any() && modelDoc.TotalChildrenCount > modelDoc.ChildrenTaken)
	{
	<ul class="pagination pagination-lg justify-content-center mt-4">
		@foreach (var link in pagination)
		{
		<li class="page-item @(string.IsNullOrEmpty(link.Link) && !string.IsNullOrEmpty(link.Label) ? "active" : null)">
			@if (!string.IsNullOrEmpty(link.Link))
			{
			<a class="page-link" href="@link.Link">@link.Label</a>
			}
			else
			{
			<span class="page-link @(string.IsNullOrEmpty(link.Label) ? "disabled" : null)">@(link.Label ?? "...")</span>
			}
		</li>
		}
	</ul>
	}
}
</div>